.about {
    grid-area: about;
    margin-bottom: 100px;
    &__container {
        padding: 20px;
    }
    &__icon {
        font-size: 48px;
        color: $icons-dark-active;
        cursor: default;
        display: block;
    }
    &__text {
        font-weight: 400;
        margin: 0;
    }
}