.appbar {
    grid-area: appbar;
    height: 64px;
    background-color: $color-primary-500;
    box-shadow: $elevation-4dp;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Pushes the content down so it is not visible on load.
     The images spans 85vh so there is 15vh minus the appbar left that has to be pushed down. */
    margin-bottom: calc(15vh - 64px);
    @media screen and (max-width: 450px) {
        display: none;
    }
    @media screen and (max-height: 1124px) {
        margin-bottom: 50px;
    }
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: $text-light-secondary;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0 10px;
        cursor: pointer;
        transition: $transition-standard;
        @media screen and (max-width: 500px) {
            font-size: 1.25rem;
        }
        &:hover {
            color: $text-light-primary;
        }
    }
}