.button-big {
    background-color: $color-secondary-200;
    color: $text-dark-primary;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    box-shadow: $elevation-2dp;
    border-radius: 2px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: $transition-standard;
    outline: none;
    &:hover {
        box-shadow: $elevation-8dp;
    }
    @media screen and (max-width: 500px) {
        font-size: 1rem;
    }
}