.contact {
    grid-area: contact;
    margin-bottom: 100px;
    padding: 25px;
    &__header {
        font-weight: 500;
        color: $text-dark-primary;
        font-size: 2rem;
        text-align: center;
        margin: 0 0 30px 0;
        @media screen and (max-width: 500px) {
            font-size: 1.5rem;
        }
        &--first-line {
            font-size: 3rem;
            margin: 0;
            @media screen and (max-width: 500px) {
            font-size: 2rem;
        }
        }
        &--link {
            text-decoration: underline;
            color: rgba($color-secondary-200, 0.87);
            cursor: pointer;
            transition: $transition-standard;
            @media screen and (max-width: 359px) {
                font-size: 1.3rem;
            }
            &:hover {
                color: rgba($color-secondary-400, 0.87);
            }
        }
    }
    &__input {
        font-family: 'Roboto', 'Noto Sans', sans-serif;
        line-height: 1.5;
        font-size: 1rem;
        padding: 0.5em;
        border: 2px solid rgba(black, 0.20);
        border-radius: 2px;
        width: 100%;
        color: $text-dark-primary;
        background-color: white;
        cursor: text;
        outline: none;
        transition: $transition-standard;
        &--textarea {
            resize: none;
            min-height: 250px;
        }
        &:focus {
            border: 2px solid $color-secondary-200;
        }
    }
    &__input-container {
        &--name {
            grid-area: name;
        }
        &--email {
            grid-area: email;
        }
        &--textarea {
            grid-area: textarea;
        }
    }
    &__submit {
        font-family: 'Roboto', 'Noto Sans', sans-serif;
        line-height: 1.5;
        grid-area: submit;
        justify-self: end;
    }
    &__feedback {
        grid-area: feedback;
        align-self: center;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
    }
}