.fixbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    display: none;
    align-items: center;
    background-color: $color-primary-500;
    box-shadow: $elevation-4dp;
    &__container {
        grid-area: container;
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    &__mobile-container {
        grid-area: mobile;
        display: none;
        align-items: center;
        @media screen and (max-width: 600px) {
            display: flex;
        }
    }
    &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: $text-light-secondary;
        font-weight: 500;
        font-size: 1.5rem;
        margin: 0 10px;
        cursor: pointer;
        transition: $transition-standard;
        @media screen and (max-width: 500px) {
            font-size: 1.25rem;
        }
        &:hover {
            color: $text-light-primary;
        }
        &:first-child {
            margin-left: 0;
        }
    }
    &__sidedrawer-trigger {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: $icons-light-active;
    }
    &__header-span {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-left: 20px;
        color: $text-light-primary;
    }
    &--active {
        display: grid;
    }
}