.grid {
    &__main {
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-areas: "header header header" "appbar appbar appbar" ". about ." "blog blog blog" ". projects ." "offer offer offer" ". offer-details ." ". contact ." "footer footer footer";
        @media screen and (max-width: 1040px) {
            grid-template-columns: 20px 1fr 20px;
        }
    }
    &__fixbar {
        grid-template-columns: auto 1000px auto;
        grid-template-areas: ". container .";
        @media screen and (max-width: 1040px) {
            grid-template-columns: 20px 1fr 20px;
        }
        @media screen and (max-width: 600px) {
            grid-template-areas: ". mobile .";
        }
    }
    &__about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        @media screen and (max-width: 850px) {
            grid-template-columns: 1fr;
        }
    }
    &__projects {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "navigationLeft card navigationRight";
        grid-gap: 20px;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "card card" "navigationLeft navigationRight";
        }
    }
    &__offer {
        display: grid;
        grid-gap: 50px;
    }
    &__offer-container {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: auto 1fr;
        grid-template-areas: "icon text";
        &--reversed {
            grid-template-columns: 1fr auto;
            grid-template-areas: "text icon";
        }
    }
    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "name email" "textarea textarea" "feedback submit";
        grid-gap: 10px;
        @media screen and (max-width: 500px) {
            grid-template-columns: 100%;
            grid-template-areas: "feedback" "name" "email" "textarea" "submit";
        }
    }
}