.grid {
    &__main {
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-areas: "header header header" "appbar appbar appbar" ". about ." "blog blog blog" ". projects ." "offer offer offer" ". contact ." "footer footer footer";
    }
    &__about {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    &__projects {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-gap: 20px;
    }
}