.header {
    grid-area: header;
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    &__container {
        display: inline-block;
        text-align: center;
        padding: 15px;
        color: $text-light-primary;
        border: 10px solid $text-light-primary;
    }
    &__main {
        font-size: 5rem;
        margin: 0px;
        font-weight: 700;
    }
    &__sub {
        font-size: 2rem;
        font-weight: 700;
        margin: 0px;
        margin-top: -15px;
    }
}