.header {
    grid-area: header;
    background-image: url('../img/header.jpg');
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 520px) {
        margin-bottom: 15vh;
    }
}

.header-text {
    &__container {
        display: inline-block;
        font-size: 5rem;
        text-align: center;
        padding: 15px;
        color: $text-light-primary;
        border: 0.15em solid $text-light-primary;
        @media screen and (max-width: 750px) {
            margin: 0 20px;
            font-size: 4rem;
        }
        @media screen and (max-width: 359px) {
            font-size: 3rem;
        }
    }
    &__main {
        margin: 0px;
        font-size: 1em;
        font-weight: 700;
    }
    &__sub {
        font-size: 2rem;
        font-weight: 700;
        margin: 0px;
        margin-top: -15px;
        @media screen and (max-width: 750px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 450px) {
            display: none;
        }
    }
}