.offer-details {
    grid-area: offer-details;
    margin-bottom: 100px;
    &__container {
        padding: 30px;
        &--reversed {
            text-align: right;
        }
    }
    &__icon-container {
        grid-area: icon;
        align-self: start;
        background-color: $color-secondary-200;
        padding: 25px;
        border-radius: 100%;
        box-shadow: $elevation-2dp;
    }
    &__icon {
        color: $icons-dark-active;
        font-size: 100px;
        display: block;
    }
    &__text-container {
        grid-area: text;
    }
    &__header {
        font-size: 2rem;
        font-weight: 500;
        margin: 0;
        margin-bottom: 20px;
    }
    &__text {
        text-align: left;
    }
}