// Base stuff
@import 'base/normalize';
@import 'base/color';
// Components
@import 'components/grid';
@import 'components/header';
@import 'components/appbar';
// Rules needed for everything
* {
    box-sizing: border-box;
}

::selection {
    background-color: $color-secondary-200;
}

::-moz-selection {
    background-color: $color-secondary-200;
}